#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.article_div {
  padding: 2px;
  margin: 2px;
  border-top: 2px solid darkgray;
}

.topic_link {
  font-size: larger;
}

.img_card {
  border-radius: 10px;
  margin: auto;
}
.inner_article_div {
  border: 1px solid darkgray;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}

.comment_bubble {
  text-align: center;
  width: 160px;
  background-color: lightgray;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
