#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.NavList {
  border: 1px solid lightgray;
  border-radius: 16px;
  width: fit-content;
  margin: auto;
  list-style-type: none;
  align-content: center;
  padding: 0;
  overflow: hidden;
}
.NavItem {
  float: left;

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
}
#outerList {
  border-width: 0;
}

.article_div {
  padding: 2px;
  margin: 2px;
  border-top: 2px solid darkgray;
}

.topic_link {
  font-size: larger;
}
.del {
  background-color: lightcoral;
  margin: auto;
}
.img_card {
  border-radius: 10px;
  margin: auto;
}
.inner_article_div {
  border: 1px solid darkgray;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}

.article {
  font-size: larger;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment {
  font-size: medium;
  background-color: rgb(235, 235, 235);
  height: fit-content;
  width: 500px;
  border-radius: 8px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.comment_bubble {
  text-align: center;
  width: 160px;
  background-color: lightgray;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
